@model List<ExperienceViewModel>

<div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
    <h3 class="resume-title">Profesyonel Deneyimler</h3>

    @foreach (var experience in Model)
    {
        <div class="resume-item">
            <h4>@experience.Title</h4>
            <h5>@experience.StartDate.ToString("yyyy-MM")  /  @(experience.EndDate?.ToString("yyyy-MM") ?? "Aktif")</h5>
            <p><em>@experience.Company </em></p>
            <ul>
                <li>@experience.Description</li>
            </ul>
        </div>
    }

</div>