@model List<BlogPostViewModel>

@{
    ViewData["Title"] = "Blog Post";
}

@if (Model.Count == 0)
{
    <h2 class="text-center my-4" style="font-weight: 600; color: #333;">Blog Postlar</h2>

    <div class="alert alert-info text-center mt-5 p-4" style="border-radius: 10px;">
        <h4 class="font-weight-bold">Şu anda görüntülenecek bir Blog Post bulunmuyor.</h4>
        <p class="mb-4 text-muted">Yeni blog gönderileri ekleyerek içeriği zenginleştirebilirsiniz.</p>
        <a href="/BlogPost/Create" class="btn btn-sm btn-primary">
            <i class="fas fa-plus mr-2"></i>Blog Post Ekle
        </a>
    </div>
}

else
{
    <div class="d-flex justify-content-between align-items-center my-4">
        <h2 class="text-start" style="font-weight: 600; color: #333;">Blog Postlar</h2>
        <a href="/BlogPost/Create" class="btn btn-success">Blog Post Ekle</a>
    </div>

    <div class="table-responsive text-nowrap" style="padding-bottom:100px;">
        <table class="table card-table">
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>Yayın Tarihi</th>
                    <th>İçerik</th>
                    <th>Görünürlük</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var post in Model)
                {
                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@post.Title</strong></td>
                        <td>@post.PublishDate.ToString("dd MMM yyyy")</td>
                        <td>
                            <button class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#modal-@post.Id" aria-haspopup="true" aria-expanded="false">İçeriği Görüntüle</button>
                        </td>
                        <td>
                            @if (post.IsVisible)
                            {
                                <span>Görünür ✅</span>
                            }
                            else
                            {
                                <span>Gizli ❌</span>
                            }
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">

                                    @if (post.IsVisible)
                                    {
                                        <a class="dropdown-item" href="/change-blog-post-visibility-@post.Id">
                                            <i class='bx bx-hide'></i>
                                            Gizle
                                        </a>

                                    }
                                    else
                                    {

                                        <a class="dropdown-item" href="/change-blog-post-visibility-@post.Id">
                                            <i class='bx bx-show'></i>
                                            Görünür Yap
                                        </a>
                                    }

                                    <a class="dropdown-item" href="/update-blog-post-@post.Id"><i class="bx bx-edit-alt me-1"></i> Düzenle</a>

                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal-@post.Id"><i class="bx bx-trash me-1"></i> Sil</a>
                                </div>
                            </div>
                        </td>

                    </tr>
                    <!-- Modal -->
                    <div class="modal fade" id="modal-@post.Id" tabindex="-1" role="dialog" aria-labelledby="modalLabel-@post.Id" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel-@post.Id">@post.Title</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>@post.Content</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Silme Onay Modalı -->
                    <div class="modal fade" id="deleteModal-@post.Id" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel-@post.Id" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel-@post.Id">Silme Onayı</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p><b>@post.Title</b> başlıklı blog postu silmek istediğinize emin misiniz?</p>
                                </div>
                                <div class="modal-footer">
                                    <form action="/delete-blog-post-@post.Id" method="get">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                        <button type="submit" class="btn btn-danger">Sil</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </tbody>
        </table>
    </div>
}
