@model List<CommentViewModel>

@{
    var userId = ViewData["UserId"] as int?;
}

<ul class="comment-list">

    @foreach (var comment in Model)
    {
        <li class="comment">
            <div class="vcard bio">
                <img src="~/blog/images/commenter.png" alt="Image placeholder" class="commenter-img">
            </div>

            <div class="comment-body">
                <h3>
                    @comment.Commenter
                    @if (userId.HasValue && userId > 0 && userId == comment.UserId)
                    {
                        <span>(Siz)</span>
                    }
                </h3>
                <div class="meta">@comment.CreatedAt.ToString("dd MMMM yyyy HH:mm")</div>
                <p>@comment.Content</p>

                @if (userId.HasValue && userId > 0 && userId == comment.UserId)
                {
                    <form asp-controller="Comment" asp-action="Delete" method="post" class="delete-comment-btn">

                        @* @Html.AntiForgeryToken() *@

                        <input name="UserId" type="hidden" value="@userId" />
                        <input name="CommenterId" type="hidden" value="@comment.UserId" />
                        <input name="CommentId" type="hidden" value="@comment.Id" />

                        <div class="form-group">
                            <button type="submit" class="btn-sm btn-danger">Yorumu Sil</button>
                        </div>

                    </form>
                }
            </div>
        </li>
    }
</ul>

<style>
    .commenter-img {
        width: 50px !important; /* Resmin genişliğini ayarlayın */
        height: 50px !important; /* Resmin yüksekliğini ayarlayın */
        border-radius: 50% !important; /* Resmi yuvarlak yapar */
        object-fit: cover !important; /* Resmin boyutunu koruyarak kesilmesini sağlar */
    }

</style>