@model AboutMeViewModel

@using PortfolioApp.Core.Config
@using Microsoft.Extensions.Options
@inject IOptions<FileApiSettings> fileSettings

@{
    var fileApiUrl = fileSettings.Value.FileApiUrl;
    ViewData["Title"] = "Hakkımda";
}

<div class="container">
    <div class="profile-card">
        <h2 class="profile-title">Hakkımda</h2>
        <hr>

        <div class="profile-detail mb-3">
            <span class="profile-label">Tam İsim: </span> @Model.FullName
        </div>

        <div class="profile-detail mb-3">
            <span class="profile-label">Tanıtım: </span> @Model.Introduction
        </div>
        
        <div class="profile-detail mb-3">
            <span class="profile-label">Uzmanlık Alanı: </span> @Model.Field
        </div>

        <div class="profile-detail mb-3">
            <span class="profile-label">LinkedIn: </span> @Model.LinkedInUrl
        </div>

        <div class="profile-detail mb-3">
            <span class="profile-label">Github: </span> @Model.GithubUrl
        </div>

        <div class="profile-detail mb-3">
            <span class="profile-label">Email: </span> @Model.Email
        </div>

        <div class="profile-detail mb-3">
            <span class="profile-label">CV: </span> 

            <a href="@Url.Action("DownloadCv", "AboutMe", new { cvUrl = Model.CvUrl })" class="btn btn-primary" style="padding: 0.5rem 1rem; font-size: 15px; margin-left:20px;">İndir</a>

        </div>
        
        <div class="row mb-4">
            <div class="col-md-6 text-center mb-3">
                <span class="profile-label">Fotoğraf: </span>
                <img src="@($"{fileApiUrl}/{Model.AboutMeImageUrl}")"
                     class="img-thumbnail" 
                     alt="Mevcut Fotoğraf" 
                     style="max-width: 100%; max-height: 250px; height: auto;">
            </div>
        </div>

        <!-- Düzenle Butonu -->
        <div class="text-right">
            <a href="/AboutMe/Update" class="btn btn-primary">Düzenle</a>
        </div>
    </div>
</div>

<style>
    .profile-card {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 20px auto;
    }

    .profile-title {
        font-size: 24px;
        font-weight: bold;
        color: #343a40;
    }

    .profile-detail {
        font-size: 16px;
        color: #495057;
    }

    .profile-label {
        font-weight: bold;
        color: #6c757d;
    }

    .btn {
        font-size: 14px;
    }

    @@media (max-width: 576px) {
        .profile-card {
            padding: 15px;
        }

        .profile-title {
            font-size: 20px;
        }

        .profile-detail {
            font-size: 14px;
        }
    }
</style>
