<!DOCTYPE html>
<html lang="tr"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/assets/"
      data-template="vertical-menu-template-free">
<head>
    <partial name="Partials/PageHead.cshtml" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    @{
        if (TempData["Message"] is not null)
        {
            <div class="alert custom-alert-success mt-5">
                @TempData["Message"]
            </div>
        }

        if (TempData["ErrorMessage"] is not null)
        {
            <div class="alert custom-alert-error mt-5">
                @TempData["ErrorMessage"]
            </div>
        }

        if (ViewData["Message"] is not null)
        {
            <div class="alert custom-alert-success mt-5">
                @ViewData["Message"]
            </div>
        }
        if (ViewData["ErrorMessage"] is not null)
        {
            <div class="alert custom-alert-error mt-5">
                @ViewData["ErrorMessage"]
            </div>
        }
    }

    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            <partial name="Partials/Menu.cshtml" />
            <div class="layout-page">

                <partial name="Partials/Navbar.cshtml" />

                <div class="content-wrapper">
                    <style>
                        .content-wrapper {
                            padding-top: 20px; /* Yukarıdan 20px boşluk bırakır. */
                        }
                    </style>
                    <div class="container-xxl flex-grow-1 container-p-y">

                        @RenderBody()

                    </div>

                    <partial name="Partials/Footer.cshtml" />

                    <div class="content-backdrop fade"></div>

                </div>

            </div>
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <partial name="Partials/PageScripts.cshtml" />
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
