@model PersonalInfoViewModel

@{
    ViewData["Title"] = "Kişisel Bilgiler";
}

<div class="container">
    <div class="profile-card">
        <h2 class="profile-title">Kişisel Bilgiler</h2>
        <hr>
        <div class="profile-detail mb-3">
            <span class="profile-label">İsim: </span> @Model.Name
        </div>
        <div class="profile-detail mb-3">
            <span class="profile-label">Soyisim: </span> @Model.Surname
        </div>
        <div class="profile-detail mb-3">
            <span class="profile-label">Adres: </span> @Model.Adress
        </div>
        <div class="profile-detail mb-3">
            <span class="profile-label">Hakkımda: </span>
            @Model.About
        </div>
        <div class="profile-detail mb-3">
            <span class="profile-label">Doğum Tarihi: </span> @Model.BirthDate.ToString("dd MMM yyyy")
        </div>
        <!-- Düzenle Butonu -->
        <div class="text-right">
            <a href="/PersonalInfo/Update" class="btn btn-primary">Düzenle</a>
        </div>
    </div>
</div>

@section Styles {
    <style>
        .profile-card {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            margin: 20px auto;
        }

        .profile-title {
            font-size: 24px;
            font-weight: bold;
            color: #343a40;
        }

        .profile-detail {
            font-size: 16px;
            color: #495057;
        }

        .profile-label {
            font-weight: bold;
            color: #6c757d;
        }

        .btn {
            font-size: 14px;
        }

        @@media (max-width: 576px) {
            .profile-card {
                padding: 15px;
            }

            .profile-title {
                font-size: 20px;
            }

            .profile-detail {
                font-size: 14px;
            }
        }
    </style>
}
